<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Second Angular App </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" integrity="sha256-+f0njwC9E3IT9zDPry5DSIcGdSxQYezBaStQ4L0ZRfU=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="component/ERREUR.JS"></script>
</head>
<body ng-app="myFirstApp">

<div[ng-controller "ERREUR">
<form name="myForm" ng-submit="foo()" novalidate>

    <label>Prenom : </label>

    <input name="prenom" type="text" required ng-minlength="2" ng-maxlength="20" />

    <div ng-messages="myForm.prenom.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>



    <label>Nom : </label>

    <input name="nom" type="text" ng-maxlength="30" />

    <div ng-messages="myForm.nom.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>



    <label>E-mail : </label>

    <input name="mail" type="email" required />

    <div ng-messages="myForm.mail.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>



    <label>Age : </label>

    <input name="age" type="number" required />

    <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>



    <input type="submit" value="Envoyer" />

</form>
</div>
</body>
</html>